<!DOCTYPE html>
<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<HTML lang="en" itemscope itemtype="http://schema.org/Type">
	<head>
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Bungee+Inline|Pacifico|Shadows+Into+Light|Yellowtail" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="/public/assets/favicon.ico"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  {{!-- skeleton refs --}}
  <link rel="stylesheet" href="/assets/css/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/skeleton.css" type="text/css"/>
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
  {{!-- icons --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {{!-- jquery reference --}}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  {{!-- signup js --}}
  <script src="assets/js/signup.js"></script>
  {{!-- materialize reference --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
  {{!-- JS reference --}}
  <script src="/assets/js/scripts.js"></script>
  

  <title>BucketDreams</title>

    {{!-- SEO --}}
    <meta name="description" content="The description" />
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Hege Refsnes">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="The title">
    <meta itemprop="description" content="The description">
    <meta itemprop="image" content="https://placehold.it/600x400">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@twitterhandle">
    <meta name="twitter:title" content="The title">
    <meta name="twitter:description" content="The description">
    <meta name="twitter:creator" content="@twitterhandle">
    <meta name="twitter:image" content="https://placehold.it/600x400">

    <!-- Open Graph data -->
    <meta property="og:title" content="The title" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.example.com" />
    <meta property="og:image" content="https://placehold.it/600x400" />
    <meta property="og:description" content="The description" />
    <meta property="og:site_name" content="Site name" />

  </head>

  <body>
  {{!-- Navbar --}}
    <nav>
    <div class="nav-wrapper blue-grey darken">
      {{!-- <a href="" class="brand-logo" style="font-family:'Bungee Inline', cursive;">DreamBucket</a> --}}
      {{!-- <img class="img-responsive" src="logo.png" alt=""> --}}
      <ul id="nav-mobile" class="right hide-on-med-and-down" style="font-family:'Shadows Into Light', cursive; font-size: 30rem">
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </nav>

		{{{ body }}}
    {{!-- footer --}}
<footer class="page-footer blue lighten-5">
  <div class="container">
    <div class="row">
                <div class="col l6">
                      <h4 class="">Rutgers Coding Bootcamp
                      </h4>
                      <h6 class="">Project 2: BucketDreams or Beyond the Pail</h6>
                      </div>
                <div class="col l6">
                  <h6 class="">Find Us On GitHub</h6>
                  <ul>
                    <li><a class="" href="https://github.com/Tomcariello/RutProject2">Project Repo</a></li>
                    <li><a class="" href="#!">Ryan Seery</a></li>
                    <li><a class="" href="#!">Melissa Baldwin</a></li>
                    <li><a class="" href="#!">Tom Cariello</a></li>
                    <li><a class="" href="#!">Marija Naumoski</a></li>
                    <li><a class="black-text" href="#!">More Links</a></li>
                  </ul>
                </div>
    </div>
</div>
          <div class="footer-copyright blue lighten-2">
            <div class="black-text center">© 2016 French Toast Mafia
            </div>
          </div>

      </footer>
</body>
</HTML>
