<!DOCTYPE html>
<html lang="en">
	<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

		<link rel="stylesheet" href="./assets/css/style.css" type="text/css" />
    <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper">
      <a href="index" class="brand-logo">Bucket Dreams</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="signup"><i class="material-icons">Sign up</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">Login</i></a></li>
      </ul>
    </div>
  </nav>
  </div>

		<title>Bucketlist</title>
	</head>
	<body>
		{{{ body }}}
	</body>
    <footer class="page-footer">
          <div class="row">
              <div class="col l6 s12">
                <p class="grey-text text-lighten-4">Made by Tom, Ryan, Marija, and Melissa</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/Tomcariello/RutProject2">Github</a></li>
                </ul>
              </div>
            </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 Copyright Text
            </div>
          </div>
    </footer>
</HTML>
