<!DOCTYPE html>
<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html lang="en" itemscope itemtype="http://schema.org/Type">
	<head>
  <link rel="shortcut icon" type="image/x-icon" href="/public/assets/favicon.ico"/>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <script src="/assets/js/scripts.js"></script>
    <title>BucketDreams</title>
    {{!-- SEO --}}
    <meta name="description" content="The description" />
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Hege Refsnes">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="The title">
    <meta itemprop="description" content="The description">
    <meta itemprop="image" content="https://placehold.it/600x400">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@twitterhandle">
    <meta name="twitter:title" content="The title">
    <meta name="twitter:description" content="The description">
    <meta name="twitter:creator" content="@twitterhandle">
    <meta name="twitter:image" content="https://placehold.it/600x400">

    <!-- Open Graph data -->
    <meta property="og:title" content="The title" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.example.com" />
    <meta property="og:image" content="https://placehold.it/600x400" />
    <meta property="og:description" content="The description" />
    <meta property="og:site_name" content="Site name" />

  </head>
  <body>
    <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper">
      <a href="index" class="brand-logo">Bucket Dreams</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="signup"><i class="material-icons">Login</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">Contact Us</i></a></li>
      </ul>
    </div>
  </nav>
  </div>

		{{{ body }}}
{{!-- footer --}}
{{!-- <footer class="page-footer transparent">
          <div class="container">
            <div class="row">
                <p>Made by Tom, Ryan, Marija, and Melissa</p>
                <p><a class="grey-text text-lighten-3" href="https://github.com/Tomcariello/RutProject2">See it on Github</a>
              </div>
            </div>
          <div class="footer-copyright">
            <div class="container">
            © 2016 French Toast Mafia
            </div>
          </div>
  </footer> --}}
  
  </body>
</HTML>
