<h1>Goals!</h1>

<div class ="row">
  <div class="col-xs-12">

  <h2>Welcome to your business profile!</h2>

To Do List:

Edit business profile information
View all goals associated by the current business
Allow for deletion/updating of selected goals


**Sample Handlebars code**
      {{#each burgers}}
        {{#unless this.devoured}}
            {{this.burger_name}}

            <form action="goals/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devour" value="true">
              <button type="submit">EAT ME!</button>
            </form>
        {{/unless}}
      {{/each}}



<div class ="row">
  <div class="col-xs-12">
    <h2>Add a Goal</h2>
    <form class="create-update-form" action="goals/create" method="POST">

      <div class="form-group">
        <label for="newGoal">Goal Name:</label>
        <input type="text" id="newGoal" name="newGoalName">
      </div>

      <button type="submit">Add Goal</button>
    </form>
  </div>
</div>
