{{!-- <h1>Goals!</h1>
 --}}
<div class ="row">
  <h2>Welcome to your business profile!</h2>
  <h3>Name of company: </h3>
  <p>Website </p>
  <p>Login Email</p>
</div>

<div class='row'>
  <h2>Goals your business is associated with</h2>

  <button>Browse goals</button>
<button type = "submit">Edit goals</button>
</div>


{{!-- To Do List:

Edit business profile information
View all goals associated by the current business
Allow for deletion/updating of selected goals --}}
\