{{!-- <h1>Goals!</h1>
 --}}
<div class ="row">
  <div class="col-xs-12">

  <h2>Welcome to your business profile!</h2>

{{!-- To Do List:

Edit business profile information
View all goals associated by the current business
Allow for deletion/updating of selected goals --}}

</div>
</div>
<div class ="row">
  <div class="col-xs-12">
    <p id = "business"></p>
    <form class="create-update-form" action="goals/create" method="POST">

      <div class="form-group">
        <label for="newGoal">Business:</label>
        <input type="text" id="newGoal" name="newGoalName">
      </div>

      <button type="submit">Add my Business</button>
    </form>
  </div>
</div>
