<h1>Goals!</h1>

<div class ="row">
  <div class="col-xs-12">

  <h2>View all goals!</h2>

Tom's To Do List:

Create "selected" area at the top of the page. This will contain goals that the user wants to add to their profile. Include a 'Done' button.
List all goals from the DB in a tile format. Exclude goals that are already selected by the current user.
Include "create a goal" button which creates a modal to create a new goal.
  <ul>
    <li>Goal Name</li>
    <li>Keywords</li>
    <li>Image(?)</li>
    <li>Backend: timesamp, add goal to current user</li>
    <li>Include search form (stretch goal)</li>
  </ul>


  {{#each goals}}
    <div class='card'>
      <div class="goalcard">
        <img class="imageicon" id={{this.id}} src="{{this.imageURL}}">
      </div>
      <div class="goaltitle">
        {{this.goalname}}
      </div>
    </div>
    {{/each}}


<div class ="row">
  <div class="col-xs-12">
    <h2>Add a Goal</h2>
    <form class="create-update-form" action="goals/create" method="POST">

      <div class="form-group">
        <label for="newGoal">Goal Name:</label>
        <input type="text" id="newGoal" name="newGoalName">
      </div>

      <button type="submit">Add Goal</button>
    </form>
  </div>
</div>
