<div class ="row">
  <div class="col-xs-12">

  <h2>Create your goals below!</h2>

{{!-- **Sample Handlebars code** --}}
      {{#each goals}}
        {{#unless this.goalstatus}}
            {{this.burger_name}}

            <form action="goals/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devour" value="true">
              <button type="submit">EAT ME!</button>
            </form>
        {{/unless}}
      {{/each}}
</div>
</div>

<div class ="row">
  <div class="col-xs-12">
    <h2>Add a Goal</h2>
    <form class="create-update-form" action="goals/create" method="POST">

      <div class="form-group">
        <label for="newGoal">Goal Name:</label>
        <input type="text" id="newGoal" name="newGoalName">
      </div>

      <button type="submit">Add Goal</button>
    </form>
  </div>
</div>
