<div class="slider">
    <ul class="slides">
      <li>
        <img src="pine.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to DreamBucket!</h3>
          <h5 class="light grey-text text-lighten-3">DreamBucket helps you reach your bucketlist goals.</h5>

          <a class="waves-effect waves-light btn" href="/browse">Browse Goals</a>

        </div>
      </li>
      <li>
        <img src="sunset.jpg"> <!-- random image -->
        <div class="caption right-align">

          <h3 class="sunsetImage">"All our dreams can come true, if we have the courage to pursue them."</h3>
          <h4 class="light grey-text text-lighten-3">- Walt Disney</h4>

        </div>
      </li>
      <li>
        <img src="travel.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3 class="loginText">Sign up or Login</h3>
          <h5 class="light grey-text text-lighten-3" class="loginText">Find the best way to reach your goals. Browse through 100+ ideas!</h5>
        </div>
      </li>

      <li>
        <img src="canoe.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="light grey-text text-lighten-3">DreamBucket is here for you</h3>
          <h5 class="light grey-text text-lighten-3">Every step of the way</h5>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <div class="container">
    <div class = "row">
      <div class = "four columns center-align">
              <i class="material-icons large">perm_identity</i>
              <br>
              You know what you like and you know your goals. You know where you're going! Let us help you get there!
      </div>
      <div class = "row">
      <div class = "four columns center-align">
      <i class="material-icons large">language</i>
      <br>
          The ocean or the desert, the mountains or the urban jungle. Traveling the world is so much easier when you can plan it all in one place! 
      </div>
      <div class = "row">
      <div class = "four columns center-align">
      <i class="material-icons large">toc</i>
      <br>
          Let's dream togehter... Let's make a list of goals together and help you reach them!
      </div>

    </div>
  </div>
  </div>
  </div>

 <script>
 $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
</script>

