{{!-- <h1>Goals!</h1> --}}

<div class ="row">
  <div class="col-xs-12">

  <h2>Welcome!</h2>
  <h3>This is Bucket Dreams!</h3>
  
  </div>
</div>

<style>

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/main2.jpeg");
  background-size: cover;
  color: white;
}

.navbar-fixed nav .nav-wrapper{
  bacopacity: 1;
}
</style>
{{!-- <div class ="row">
  <div class="col-xs-12">
    <form class="create-update-form" action="goals/create" method="POST">

      <div class="form-group">
        <label for="newGoal">Goal Name:</label>
        <input type="text" id="newGoal" name="newGoalName">
      </div>
      <button type="submit">Add Goal</button>
    </form>
  </div>
</div> --}}
