  <style>
/*body {
  background-image: none;
  background-color: white;
  color: black;
}*/
</style>

  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2" href="/browse">Browse Goals</a>
    </div>
    <div class="carousel-item transparent white-text" style="background-image: url(palm.jpg); background-size: cover;" href="#one!">
      <h2>Welcome to DreamBucket</h2>
      <p class="white-text">Sign up or Log in</p>
      <ul class="container">
        <li><a href="signup"><i class="material-icons">Sign up</i></a></li>
        <li>Username: <input type='text' name='login'></li>
        <li>Password: <input type='password' name='pass'></li>
        <li><button id="login">Login</button>
      </ul>
      {{!-- <img src="palm.jpg"> --}}
    </div>
    <div class="carousel-item transparent white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
      <img src="pbridge.jpg">
    </div>
    <div class="carousel-item transparent white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
      <img src="jelly.jpg">
    </div>
    <div class="carousel-item transparent white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
      <img src="para.jpg">
    </div>
  </div>

<script>
$('.carousel.carousel-slider').carousel({full_width: true});
</script>

{{!-- /*<style>

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-size: cover;
  color: white;
}

</style>*/ --}}
{{!-- <div class ="row">
  <div class="col-xs-12">
    <form class="create-update-form" action="goals/create" method="POST">

      <div class="form-group">
        <label for="newGoal">Goal Name:</label>
        <input type="text" id="newGoal" name="newGoalName">
      </div>
      <button type="submit">Add Goal</button>
    </form>
  </div>
</div> --}}
