<div class="slider">
    <ul class="slides">
      <li>
        <img src="pine.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Welcome to DreamBucket!</h3>
          <h5 class="light grey-text text-lighten-3">DreamBucket helps you reach your bucketlist goals.</h5>

          <a class="waves-effect waves-light btn" href="/browse">Browse Goals</a>
          
        </div>
      </li>
      <li>
        <img src="pbridge.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>"All our dreams can come true, if we have the courage to pursue them."</h3>
          <h5 class="light grey-text text-lighten-3">Walt Disney</h5>
        </div>
      </li>
      <li>
        <img src="palm.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Sign up or Log in</h3>
          <h5 class="light grey-text text-lighten-3">Find the best way to reach your goals. Browse through 100+ ideas!</h5>
        </div>
      </li>
      
      <li>
        <img src="snowM.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3 class="black-text">DreamBucket is here for you</h3>
          <h5 class="black-text text-lighten-3">Every step of the way</h5>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <div class="container">
    <div class = "row">
      <div class = "four columns center-align">
              <i class="material-icons large">perm_identity</i>
              <br>
              You know what you like and you know your goals. You know where you're going! Let us help you get there!
      </div>
      <div class = "row">
      <div class = "four columns center-align">
      <i class="material-icons large">language</i>
      <br>
          The ocean or the desert, the mountains or the urban jungle. Traveling the world is so much easier when you can plan it all in one place! 
      </div>
      <div class = "row">
      <div class = "four columns center-align">
      <i class="material-icons large">toc</i>
      <br>
          Let's make a list of goals together and help you reach them!
      </div>

    </div>
  </div>



  <style>
/*body {
  background-image: none;
  background-color: white;
  color: black;
}*/
</style>

  {{!-- <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2" href="/browse">Browse Goals</a>
    </div>
    <div class="carousel-item transparent white-text" href="#one!">
      <h2>Welcome to DreamBucket</h2>
      <p class="white-text">Sign up or Log in</p>
      <ul class="container">
        <li><button href="signup"><i class="material-icons">Sign up</i></button></li>
        <li>Username: <input type='text' name='login'></li>
        <li>Password: <input type='password' name='pass'></li>
        <li><button id="login">Login</button>
      </ul> --}}
      {{!-- <img src="palm.jpg"> --}}
    {{!-- </div> --}}
    {{!-- <div class="carousel-item transparent white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
      <img src="pbridge.jpg">
    </div>
    <div class="carousel-item transparent white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
      <img src="jelly.jpg">
    </div>
    <div class="carousel-item transparent white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
      <img src="para.jpg">
    </div> --}}
  {{!-- </div> --}}

 <script>
 $(document).ready(function(){
      $('.slider').slider({full_width: true});
    });
// $('.carousel.carousel-slider').carousel({full_width: true});
// // </script>

{{!-- /*<style>

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-size: cover;
  color: white;
}

</style>*/ --}}
{{!-- <div class ="row">
  <div class="col-xs-12">
    <form class="create-update-form" action="goals/create" method="POST">

      <div class="form-group">
        <label for="newGoal">Goal Name:</label>
        <input type="text" id="newGoal" name="newGoalName">
      </div>
      <button type="submit">Add Goal</button>
    </form>
  </div>
</div> --}}
