  <style>
body {
  background display: none;
}
</style>

  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2" href="/browse">Browse</a>
    </div>
    <div class="carousel-item black white-text" href="#one!">
      <h2>First Panel</h2>
      <p class="white-text">This is your first panel</p>
      <img src="pbridge.jpg">
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>

<script>
$('.carousel.carousel-slider').carousel({full_width: true});
</script>

{{!-- /*<style>

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-size: cover;
  color: white;
}

</style>*/ --}}
{{!-- <div class ="row">
  <div class="col-xs-12">
    <form class="create-update-form" action="goals/create" method="POST">

      <div class="form-group">
        <label for="newGoal">Goal Name:</label>
        <input type="text" id="newGoal" name="newGoalName">
      </div>
      <button type="submit">Add Goal</button>
    </form>
  </div>
</div> --}}
