<br>
<br>
<br>

<h2>Login below!</h2>

  <div class="container">
    <div class="row">
    <form class="input-field col s12">
   <div class="input-field col s12">
        <input id="email" type="text" class="validate">
        <label for="email">Email:</label>
    <div class="row">
      <div class="input-field col s12">
        <input id="number" type="number" class="validate">
        <label for="number"> Phone Number:</label>
      </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>

        <button class="btn waves-effect waves-light" type="submit" name="action" id="submitForm">Submit<i class="material-icons right">send</i></button>
      </div>
      </div>
    </div>
    </div>
  </form>
</div>
</div>

<script>
$(document).on('click', function(){

  $('#personal').click(function(){
    $('#signup_formB').fadeOut(700);
    $('#signup_formP').fadeIn(700);
  });

  $('#business').click(function(){
    console.log('business was clicked');
    $('#signup_formP').fadeOut(700);
    $('#signup_formB').fadeIn(700);
  });
});
</script>


