<div class ="row">
  <div class="col-xs-12">

  <h2>Sign up below!</h2>
  <h4><small>or sign in</small></h4>

To Do List:

Users:
  firstname
  lastname
  email
  zip code
  password
  (Use facebook for login if you want)

Business:
  Business name
  website
  zip code
  email
  phone number
  password


{{!-- **Sample Handlebars code**
      {{#each burgers}}
        {{#unless this.devoured}}
            {{this.burger_name}}

            <form action="goals/update/{{this.id}}?_method=PUT" method="POST">
              <input type="hidden" name="devour" value="true">
              <button type="submit">EAT ME!</button>
            </form>
        {{/unless}}
      {{/each}} --}}


{{!-- <div class ="row">
  <div class="col-xs-12">
    <h2>Add a Goal</h2>
    <form class="create-update-form" action="goals/create" method="POST">

      <div class="form-group">
        <label for="newGoal">Goal Name:</label>
        <input type="text" id="newGoal" name="newGoalName">
      </div>

      <button type="submit">Add Goal</button>
    </form>
  </div>
</div> --}}
