<div class ="row">
  <div class="col-xs-12">

  <h2>Sign up below!</h2>

{{!-- To Do List:

Users:
  firstname
  lastname
  email
  zip code
  password
  (Use facebook for login if you want)

Business:
  Business name
  website
  zip code
  email
  phone number
  password --}}

  <form action="#">
    <p>
      <div class="input-field col s3">
      <input name="group1" type="radio" id="personal"/>
      <label for="test1">Personal</label>
      </div>
    </p>
    <p>
      <div class="input-field col s3">
      <input name="group1" type="radio" id="business"/>
      <label for="test2">Business</label>
      </div>
    </p>
  </form>

  <div class="row" id="form">
    <form class="col s7">
      <div class="row">
        <div class="input-field col s5">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name:</label>
        </div>
        <div class="input-field col s5">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name:</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="zipcode" type="text" class="validate">
          <label for="zipcode">Zipcode:</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Email:</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
    </div>

