<div class ="row">
  <div class="col-xs-12">

  <h2>Sign up below!</h2>

{{!-- To Do List:

Users:
  firstname
  lastname
  email
  zip code
  password
  (Use facebook for login if you want)

Business:
  Business name
  website
  zip code
  email
  phone number
  password --}}

  <form action="#">
    <div class="row">
    <div class="input-field col s6">
    <p>
      <input class="with-gap" name="group1" type="radio" id="personal"  />
      <label for="personal">Personal</label>
    </p>
    </div>
    <div class="input-field col s6">
    <p>
      <input class="with-gap" name="group1" type="radio" id="business"  />
      <label for="business">Business</label>
    </p>
    </div>
    </div>
  </form>

  <div class="row" id="signup_form">
    <form class="col l12">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name:</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name:</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="zipcode" type="text" class="validate">
          <label for="zipcode">Zipcode:</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="email" type="email" class="validate">
          <label for="email">Email:</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
    </div>
    </form>


