{{!-- <div class ="row">
  <div class="col-xs-12"> --}}

  <h2>Sign up below!</h2>

{{!-- To Do List:

Users:
  firstname
  lastname
  email
  zip code
  password
  (Use facebook for login if you want)

Business:
  Business name
  website
  zip code
  email
  phone number
  password --}}
<div class="container">
  <form action="#">
    <div class="row">
    <div class="container" id="options">
    <div class="input-field col s6">
    <p>
      <input class="with-gap" name="group1" type="radio" id="personal"  />
      <label for="personal">Personal</label>
    </p>
    </div>
    <div class="input-field col s6">
    <p>
      <input class="with-gap" name="group1" type="radio" id="business"  />
      <label for="business">Business</label>
    </p>
    </div>
    </div>
    </div>
  </form>
<<<<<<< HEAD

  <div class="row" id="signup_formP" >
    <form class="col l12" action="/signup" method="POST">
=======
  </div>
<div class="container">
  <div class="row" id="signup_formP">
    <form class="col l12">
>>>>>>> 151a5724e972cd0f4ef63b910edd43f2eb089914
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate" name="firstName">
          <label for="first_name">First Name:</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" name="lastName">
          <label for="last_name">Last Name:</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="zipcode" type="text" class="validate" name="zipcode">
          <label for="zipcode">Zipcode:</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="email" type="email" class="validate" name="email">
          <label for="email">Email:</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="password" type="password" class="validate" name="password">
          <label for="password">Password</label>
          <input type="submit">
        </div>
        </div>
      </form>
    </div>


    <div class="row" id="signup_formB">
    <form class="col l12">
      <div class="row">
        <div class="input-field col s6">
          <input id="business" type="text" class="validate">
          <label for="business">Business Name:</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="zipcode" type="text" class="validate">
          <label for="zipcode">Zipcode:</label>
        </div>
      </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="email" type="text" class="validate">
          <label for="email">Email:</label>
        </div>
      </div>
      <div class="row">
      <div class="input-field col s6">
          <input id="number" type="number" class="validate">
          <label for="number">Phone Number: </label>
        </div>
        </div>
  <div class="row">
      <div class="input-field col s6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        </div>
      </form>
    </div>
  </div>


