<div class="container">
<h2>Welcome user!</h2>
<h2>These are your goals</h2>

<div class ="row">

{{#each users}}
  {{this.firstname}}
  {{this.lastname}} 
  {{this.email}}
  {{/each}}

      {{#each goals}}
            <div class="goalcard">
              <img class="imageicon" src="{{this.imageURL}}">
            </div>

      {{/each}}
</div>

{{!-- This is Marija's To Do List:

Edit user profile information (seperate tab?)
View all goals selected by the current user (left side)
Show completed goals of that user (right side)
Allow for deletion of selected goals
Allow for marking complete selected goals
On hover, display business/helper information --}}

