.nav-wrapper{
  padding-top: 20px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/main.jpeg");
  background-size: cover;

}
h2{
  margin-top: 100px;
  text-align: center;
}
.nav-wrapper{
  background-color: #415E81;
}
.imageicon {
  height: 50%;
  width: 50%;
}
.card {
  float: left;
  /*border: 1px solid black;*/
  width: 20%;
  height: 20%;
  text-align: center;
  margin: 1%;
  padding: 1%;
}
.goaltitle {
  font-size: 24px;
}
.footer-copyright{
  text-align: center;
}
footer.page-footer{
  background-color: #415E81;
}