li {
  background: #FAEBD7;
  margin: 5px;
  padding: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: aqua;
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}
.imageicon {
  height: 50%;
  width: 50%;
}
.card {
  float: left;
  /*border: 1px solid black;*/
  width: 20%;
  height: 20%;
  text-align: center;
  margin: 1%;
  padding: 1%;
}
.goaltitle {
  font-size: 24px;

}