.nav-wrapper{
  padding-top: 20px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/main.jpeg");
  background-size: cover;

}
h2{
  margin-top: 100px;
  text-align: center;
}
.nav-wrapper{
  background-color: #415E81;
}
.imageicon {
  height: 50%;
  width: 50%;
}
.card {
  text-align: center;
  height: 200px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-color: #f0f0f0;
}
.goaltitle {
  font-size: 24px;
}
.footer-copyright{
  text-align: center;
}
footer.page-footer{
  background-color: #415E81;
<<<<<<< HEAD
=======
  width: 100%;
}
.sidebar {
  position: fixed;
  padding-top: 30px;
>>>>>>> dcb4600fc8bcef0063e2811cca203717b4a17cac
}